*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body, html, #root {
    height: 100%;
    width: 100%;
}
.home-container {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.25em; 
}
  
.home-image {
    width: 100%;
    max-width: 37.5em; 
    height: auto;
    border-radius: 0.625em; 
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2); 
    margin-bottom: 1.25em; 
}
  
.home-button {
    background-color: #007bff;
    color: white;
    padding: 0.625em 1.25em; 
    font-size: 1em; 
    border: none;
    border-radius: 0.3125em; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1.25em; 
}
  
.home-button:hover {
    background-color: #0056b3;
}
  
.home-text {
    font-size: 1.125em; 
    line-height: 1.6;
    max-width: 50em; 
    margin: 0 auto;
    text-align: justify;
    color: #333;
}
  