*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1.25em; 
}
  
.profile-container .my-p-text {
    font-size: 1.5em; 
    color: #333;
    border: 2px dotted green;
    padding: 0.3em;
}
.profile-container .profile-general{
  margin-top: 3em;
  border: 2px dotted blue;
}  