*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.my-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background: rgb(8, 8, 92);
    height: 5em;
    color: white;
    width: 100%;
    position: absolute;
    margin-bottom: 0;
    position: relative;
    left: 0;
    bottom: 0;
}
.social-networks{
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 2em;
}
.social-networks .social-network a{ 
    color: #fff;
}